.shadow {
  box-shadow: 0 3px 10px #333;
  display: block;
}

.milk_text {
  font: bold 42px 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
  margin: 0 0 10px;
}
.border_right {
  border-right: 1px dotted #ccc;
  padding-right: 20px;
}
.thumbs_up {
  background: white url(../images/thumbs_up.jpg) no-repeat top right;
}
.contact_form {
  height: 415px;
}
/********** Header **********/
/********** Nav Bar **********/
#nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: url(../images/header-fade.gif);
  border-bottom: 1px solid #ccc;
  text-align: center;
}
#nav_bar nav {
  border-left: 1px solid #ccc;
}
#nav_bar nav a {
  display: inline-block;
  
}